<!-- templates/clubs/modifier_club.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Modifier Club</title>
</head>
<body>
    <div class="container">
        <h1>Modifier Club</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sauvegarder</button>
        </form>
        <a href="{% url 'index' %}">Retour à la liste</a>
    </div>
</body>
</html>
